[submodule "themes/cleanwhite"]
	path = themes/cleanwhite
	url = git@github.com:zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/story"]
	path = themes/story
	url = https://github.com/caressofsteel/hugo-story
