<section class="wrapper style1 align-center">
  <div class="inner">
    <p>
      Vi är så glada att få bjuda in till bröllop, vi kan knappt bärga oss till september! Här på hemsidan kommer det finnas information som kan vara bra inför bröllopet. Allt från hur ni osar, var vigseln kommer äga rum till klädsel går att kolla upp längre ner på denna sida!
    </p>
      <h3>Småbarn</h3>
    <p>
      Vi gillar alla era barn men under vår bröllopsmiddag ser vi gärna att barn stannar hemma med barnvakt om möjligt. Små barn som ammas är självklart välkomna!
    </p>
  </div>
</section>
