<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Välkomna på bröllop!</h2>
    <p>
      Vi är så glada att få bjuda in till bröllop, vi kan knappt bärga oss till september! Här på hemsidan kommer det finnas information som kan vara bra inför bröllopet. Allt från hur ni osar, var vigseln kommer äga rum till klädsel går att kolla upp längre ner på denna sida!
    </p>

    <!-- <div class="index align-left"> -->

    <!--   <section> -->
    <!--     <header> -->
    <!--       <h3>Text</h3> -->
    <!--     </header> -->
    <!--     <div class="content"> -->

    <!--       <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>. -->
    <!--         This is <sup>superscript</sup> text and this is <sub>subscript</sub> text. -->
    <!--         This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. -->
    <!--         Finally, this is a <a href="#">link</a>.</p> -->

    <!--     </div> -->
    <!--   </section> -->
    <!-- </div> -->
  </div>
</section>
